/* RESETEO GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
}


/*Cabecera*/
.contenedor_verde{

  width: 100%;
  background-color: #D5EFF0;
}

/* Contenedor de los 1200px */
.contenedor_contenidos{

  width: 1200px;
  margin: auto;
}

/* contenido cabecera */
.contenedor_logo{
  width: 550px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 30px;
}

.alumnos{
  width: 550px;
  text-align: right;
  display: inline-block;
  line-height: 35px;
  vertical-align: top;
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #0D7276;
}

/* Seccion de botones */
.contenedor_botones{
  width: 100%;
}

.botones{
  padding: 20px 0;
  text-align: center;
}

.botones a{
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
  margin-right: 30px;
  font-weight: bold;
  color: #1B7C7E;
}

.botones a:first-child{
  background-color: #097578;
  color: white;
}

.botones a:last-child{
  margin-right: 0px;
}

/* Contenido Imagen */

.contenedor_imagen{
  width: 100%;
  background-image: url(imagenes/foto_slide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.publi{
  line-height: 30px;
}

.slide_principal{
  font-size: 100px;
  font-style: italic;
  padding-top: 410px;
  padding-left: 50px;
  text-align: center;
  color: white;
}

#come{
  color: white;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

.btn_book{
  text-align: center;
  padding-bottom: 140px;
}

.btn_book a{
  padding: 20px;
  background-color: #018B7E;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* seccion tarjetas */

h1{
  text-align: center;
  font-size: 50px;
  color: #0E4D4A;
}

.invitacion{
  text-align: center;
  font-size: 20px;
  color: #91B5AD;
  font-style: oblique;
}

/* Contenido de tarjetas */
.contenedor_tarjetas{
  width: 1200px;
  margin: auto;
}

.tarjeta1 , .tarjeta2 , .tarjeta3{
  width: 30%;
  display: inline-block;
  padding: 20px 0;
  margin-right: 3%;
  vertical-align: top;
}

#entrada , #masaje , #terapia{
  width: 100% ;
}

.sub_trjt{
  color: #42615D;
  font-size: 28px;
  font-weight: bold;
}

.text_trjt{
  color: #84A3A0;
  font-size: 18px;
}

/* footer */
footer{
  width: 100%;
  margin: auto;
  background-color: #00544F;
}

.contenedor_logo2{
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 7%;
  vertical-align: middle;
  padding-left: 40px;
}

.footer_Txt{
  width: 33%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
  text-align: center;
}

.footer_Txt h2{
  font-size: 35px;
  color: white;
}

.ig{
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
  text-align: center;
  background-color: #FFFFFF;
}

.ig a{
  text-decoration: none;
  font-size: 20px;
  color: black;

}

span{
  color: #43A39A;
}


/* SERVICIOS */

.botones2{
  padding: 20px 0;
  text-align: center;
}

.botones2 a{
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
  margin-right: 30px;
  font-weight: bold;
  color: #1B7C7E;
}

#servicios{
  background-color: #097578;
  color: white;
}

.contenedor_banner{
  background-color: #00544F;
  width: 100%;
}

.encabezado{
  text-align: center;
}

.principal{
  color: white;
  font-size: 60px;
  padding: 40px;
}

.contenido_Servicios{
  padding: 20px 0;
}

.Titulos{
  color: #00544F;
  font-size: 38px;
  padding: 0 40px;
}

.info{
  font-size: 25px;
  padding: 0 40px;
}

.centrar{
  text-align: center;
}

#are{
  font-size: 60px;
  color:#00544F ;
}

/* SERVICIOS - BOTON */


/* SERVICIOS */

.botones3{
  padding: 20px 0;
  text-align: center;
}

.botones3 a{
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
  margin-right: 30px;
  font-weight: bold;
  color: #1B7C7E;
}

#contactobtn{
  background-color: #097578;
  color: white;
}

/* formulario */



.contenedor-form {
  width: 600px;
  margin: 50px auto;
  background-color: #006b60;
  padding: 30px;
  border-radius: 6px;
}

.form-request {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fila {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.campo label {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.campo input,
.campo select {
  background-color: #00796b;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.campo input::placeholder {
  color: #c7d9d6;
}

button#validar {
  background-color: #00a58c;
  border: none;
  color: #fff;
  padding: 14px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

button#validar:hover {
  background-color: #00c3a4;
}
